[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BIEN"]
	path = BIEN
	url = https://github.com/cran/BIEN
[submodule "GNRS"]
	path = GNRS
	url = https://github.com/cran/GNRS
[submodule "GVS"]
	path = GVS
	url = https://github.com/cran/GVS
[submodule "NSR"]
	path = NSR
	url = https://github.com/cran/NSR
[submodule "S4DM"]
	path = S4DM
	url = https://github.com/bmaitner/s4dm
[submodule "TNRS"]
	path = TNRS
	url = https://github.com/cran/TNRS
